@supports (grid-area:auto) {

  .site {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 100px auto auto auto auto auto auto auto auto;
    grid-template-areas:
    'hd hd hd hd hd hd hd hd hd hd hd hd'
    'nav nav nav nav nav nav nav nav nav nav nav nav'
    '. dash dash dash dash dash dash dash dash dash dash .'
    '. an an an an an an an an an an .'
    '. task task task task analyt analyt analyt analyt analyt analyt .'
    '. rec rec rec rec analyt analyt analyt analyt analyt analyt .'
    '. rec rec rec rec con con con con con con .'
    '. rec rec rec rec did did did did did did .'
    '. ads ads ads ads ads ads ads ads ads ads .'
    'ft ft ft ft ft ft ft ft ft ft ft ft';
    font-family: "Proxima Nova";
  }

  /*Global Styles*/
  .flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .flex-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .flex-row{
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  h2{
    color:#2498f4;
    margin: 0px;
    padding: 15px;
    font-weight: normal;
  }

  h1{
    color:#ffffff;
    margin:0px;
  }



  /*Header*/
  .header{
    grid-area: hd;
    background-color: #2191e9;
    justify-content: flex-start;
    color:#ffffff;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;
  }

  .header img{
    padding-right: 10px;
    padding-left: 20px;
  }

  #social-stream{
    flex-basis:75%;
  }

  /*Navbar*/
  .navbar{
    grid-area: nav;
    background-color: #124570;
    justify-content: center;
  }

  #stripes{
    background-image: repeating-linear-gradient(145deg, #134670, #194a74 2px, #174873 2px, #0e3f6f 4px);
  }

  .images-navbar img{
    padding-top: 10px;
  }

  /*Dashboard*/
  .dashboard{
    grid-area:dash;
    background-color: #33cc66;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .dashboard h1{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: normal;
  }

  /*Dashboard-Search*/
  .dashboard .search-container {
    float: right;
    margin-left: 45%;
  }

  .dashboard input[type="text"] {
    padding: 6px;
    font-size: 17px;
    border: none;
    justify-content: flex-end;
  }

  .dashboard .search-container button {
    float: right;
    padding: 16px 20px;
    margin-right: 16px;
    background: #ffffff;
    background-image: url("../images/icon-search.png");
    background-repeat: no-repeat;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  /*Announcements*/
  .announcements{
    grid-area:an;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .announcements h5{
    color:#fe7f13;
    font-weight: normal;
  }

  .announcements p{
    font-size: 14px;
    color: #777777;
  }

  /*Tasks*/
  .tasks{
    grid-area: task;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
    color: #2498f4;
    font-size: 20px;
  }

  #settings{
    margin-left: auto;
    padding-right: 10%;
  }

  #tasks{
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
    padding-left: 10px;
  }

  #tasks:hover{
    color: gray;
  }

  #box{
    margin-left: auto;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
    height: 30px;
    flex-basis: 15%;
    font-size: 16px;
    margin-right: 5%;
    padding: 5px;
  }

  #box p{
    padding-left: 10px;
  }

    .number-circle{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 4px;
    background: #32cc66;
    color: #ffffff;
    text-align: center;
    font: 16px Arial, sans-serif;
    margin-right: 10px;
  }

  .number-circle:hover {
    background-color: gray;
  }

  /*Analytics*/
  .analytics{
    grid-area:analyt;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
  }

  .analytics h4{
    padding-left: 15px;
    color: #999999;
    font-weight: normal;
    font-size: 10px;
  }

  /*Analytics-Dropdown Menu*/
  .dropbtn {
    background-color: #ffffff;
    color: gray;
    padding: 5px;
    font-size: 10px;
    border: solid;
    border-color: gray;
    border-width: thin;
}

  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 60%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
      color: gray;
      font-size: 10px;
      padding: 8px 10px;
      text-decoration: none;
      display: block;
      background-color: #ffffff;
  }

  .dropdown-content a:hover {color: #2191e9;}

  .dropdown:hover .dropdown-content {display: block;}

  #graph{
    height: 150px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #graph2{
    height: 200px;
    margin-bottom: 50px;
  }

  /*Checkmark Boxes*/
  .checkbox input[type="checkbox"] {
    opacity: 0;
  }

  .checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
    font-size: 10px;
    padding-bottom: 20px;
  }

  .checkbox label::before,
  .checkbox label::after {
      position: absolute;
      content: "";
      display: inline-block;
  }

  /*Outer-box*/
  .checkbox label::before {
      height: 16px;
      width: 16px;
      border: 1px solid;
      left: 0px;
      top: 3px;
  }

  /*Checkmark*/
  .checkbox label::after {
      height: 5px;
      width: 9px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      transform: rotate(-45deg);
      left: 4px;
      top: 7px;
      color: #ff9900;
  }

    /*Hide the checkmark by default*/
  .checkbox input[type="checkbox"] + label::after {
      content: none;
  }

  /*Unhide the checkmark on checked state*/
  .checkbox input[type="checkbox"]:checked + label::after {
      content: "";
  }

  /*Label Styles*/
  .check1{
    color:#ffffff;
    background-color: #114570;
    padding: 5px;
    border-radius: 5px;
  }

  .check2{
    color:#ffffff;
    background-color: #2298f4;
    padding: 5px;
    border-radius: 5px;
  }

  .check3{
    color:#ffffff;
    background-color: #3a599b;
    padding: 5px;
    border-radius: 5px;
  }

  .check4{
    color:#ffffff;
    background-color: #31cc66;
    padding: 5px;
    border-radius: 5px;
  }

  /*Recommendations*/
  .recommendations{
    grid-area:rec;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
    color: #777777;
  }

  .recommendations img{
    padding-right: 30px;
    padding-left: 10px;
  }

  #rec{
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
  }

  #rec:hover{
    color: black;
  }

  #tip{
    padding-left: 10px;
  }

  /*Contacts-Customers*/
  .contacts-customers {
    grid-area: con;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
  }

  .rectangle-contacts{
    height: 160px;
    width: 190px;
    border-style: solid;
    border-color: gray;
    border-width: thin;
    position: relative;
  }

  .cards{
    justify-content: space-around;
    padding: 20px;
    padding-top: 50px;
  }

  .rectangle-contacts:hover{
    color: #ffffff;
  }

  /*Banner Styles*/
  .banner{
    background-color: #2498f4;
    margin-top: 10px;
    position: relative;
    height: 40px;
  }

  .banner:hover{
    background-color: gray;
    color: #ffffff;
  }

  .banner h5{
    text-align: center;
    padding-top: 5px;
    font-weight: normal;
    color: #ffffff;
  }

  .banner h6{
    text-align: center;
    margin-top: -20px;
    font-weight: normal;
    color: #ffffff;
  }

  .graph img{
    margin-top: 20px;
    max-width: 180px;
    max-height: 140px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .icon-man-green, .icon-man-orange{
    margin-left: 55px;
    margin-top: -40px;
    position: absolute;
  }

  /*Did-You-Know*/
  .did-you-know{
    grid-area: did;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
  }

  .content{
    background-color: #2498f4;
    margin: 5%;
    font-size: 12px;
    color: #ffffff;
    padding: 20px;
  }

  #content-did{
    padding-left: 20px;
    padding-right: 20px;
  }

  #halfcircle1{
    flex-basis: 10%;
    margin-left: -5%;
  }

  #halfcircle2{
    flex-basis: 10%;
    margin-right: -2%;
  }

  #arrow-left{
    flex-basis: 5%;
    margin-left: -5%;
  }

  #arrow-right{
    flex-basis: 5%;
    margin-right: -5%;
  }

  /*Ads*/
  .ads{
    grid-area: ads;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
    background-color: #2498f4;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /*Ad 1*/
  .ads .rectangle1{
    height: 130px;
    width: 250px;
    margin: 10px;
    background-image: url("../images/ad1.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-color: #ffffff;
    position: relative;
  }

  .ads .rectangle1 h5{
    margin-left: 130px;
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
    font-size: 16px;
    color: #59d37e;
    font-weight: normal;
  }

  .ads .rectangle1 h6{
    margin-left: 130px;
    margin-top: -25px;
    color: #666666;
    font-weight: normal;
  }

  /*Ad 2*/
  .rectangle2{
    background-color: #ffffff;
    position: relative;
    height: 130px;
    width: 250px;
    z-index: 2;
  }

  .rectangle2 h5{
    font-weight: normal;
  }

  .rectangle2 img{
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 220px;
    left: 5%;
  }

  #ad2{
    background-color: #33cc66;
    z-index: 10;
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    height: 30px;
    width: 220px;
    text-align: center;
  }

  #ad2 h5{
    padding: 7px;
    font-size: 12px;
    color: #ffffff;
  }

  /*Ad 3*/
  .ads .rectangle3{
    height: 130px;
    width: 250px;
    margin: 10px;
    background-image: url("../images/ad3.png"); height: 130px; width: 230px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ffffff;
    position: relative;
  }

  .ads .rectangle3 h5{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 14px;
    color: #fe7f13;
    font-weight: normal;
  }

  .ads .rectangle3 h6{
    margin-top: -25px;
    margin-left: 10px;
    font-size: 14px;
    color: #fe7f13;
    font-weight: normal;
  }

  /*Footer*/
  .footer{
    grid-area: ft;
    margin-top: 4%;
    box-shadow: 0px -5px 15px -10px;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
  }

  .gradient-footer{
     background-image: linear-gradient(to bottom right, #f3f3f3 0%, #ffffff 100%);
  }

  .tutorials{
    flex-basis: 10%;
    justify-content: space-between;
    padding-left: 10px;
    margin-left: 10%;
  }

  .tutorials p{
    padding-left: 20px;
  }

  .ariel-winter, .win, #logout{
    color: #2498f2;
    font-weight: bold;
  }

  .logout {
    flex-basis: 20%;
    justify-content: space-around;
    margin-right: 10%;
  }

  .social-icons{
    margin-left: 5px;
  }

  #bar{
    padding-left: 20px;
  }

  #bar2{
    margin-right: 30px;
  }

}



@media screen and (max-width:768px) {
  .site{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
    'hd'
    'nav'
    'dash'
    'an'
    'task'
    'analyt'
    'rec'
    'con'
    'did'
    'ads'
    'ft';
  }

    /*Header*/
    #social-stream{
      flex-basis:25%;
    }

      /*Navbar*/
    .flex-column{
      max-width: 35px;
    }

    /*Dashboard*/
    .dashboard .flex{
      flex-direction: column;
    }

    .dashboard .search-container {
      margin-left: 20%;
      padding-bottom: 5%;
    }

    /*Announcements*/
    .announcements{
      flex-direction: column;
    }

    .announcements p{
      text-align: center;
    }

    /*Analytics*/
    .dropdown {
      position: relative;
      display: inline-block;
      margin-left: 10%;
    }

    #graph2{
      margin-left: 30%;
      margin-top: -10%;
      margin-bottom: 5%;
    }

    /*Contacts-Customers*/
    .rectangle-contacts{
      margin: 30px;
    }

    /*Did-You-Know*/
    #content-did{
      padding-left: 20px;
      padding-right: 20px;
    }

    #halfcircle1{
      flex-basis: 20%;
      margin-left: -7%;
    }

    #halfcircle2{
      flex-basis: 20%;
      margin-right: -6%;
    }

    #arrow-left{
      flex-basis: 12%;
      margin-left: -6%;
    }

    #arrow-right{
      flex-basis: 12%;
      margin-right: -5%;
      margin-left: 2px;
    }

    /*Ads*/
    .ads .rectangle3{
      height: 130px;
      width: 250px;
    }

    /*Footer*/
    .tutorials{
      margin-left: 15%;
    }

    .ariel{
      flex-basis: 90%;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -10%;
    }

    .logout{
      flex-basis: 100%;
      justify-content: space-between;
      padding-left: 10px;
    }

}
