@supports (grid-area:auto) {

  .site {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 90px 70px 50px 300px 100px 200px 200px 200px 50px;
    grid-template-areas:
    'hd hd hd hd hd hd hd hd hd hd hd hd'
    'nav nav nav nav nav nav nav nav nav nav nav nav'
    '. dash dash dash dash dash dash dash dash dash dash .'
    '. an an an an an an an an an an .'
    '. task task task task analyt analyt analyt analyt analyt analyt .'
    '. rec rec rec rec analyt analyt analyt analyt analyt analyt .'
    '. rec rec rec rec con con con con con con .'
    '. rec rec rec rec did did did did did did .'
    '. ads ads ads ads ads ads ads ads ads ads .'
    'ft ft ft ft ft ft ft ft ft ft ft ft';
    font-family: "Proxima Nova";
  }

  .header{
    grid-area: hd;
    border-style: solid;
    background-color: #2191e9;
    justify-content: flex-start;
    color:#ffffff;
    font-weight: bold;
  }

  .header img{
    padding-right: 10px;
    padding-left: 20px;
  }

  #social-stream{
  flex-basis:75%;
  }

  .navbar{
    grid-area: nav;
    border-style: solid;
    background-color: #124570;
    justify-content: center;
  }

  .dashboard{
    grid-area:dash;
    border-style: solid;
    background-color: #33cc66;
  }

  .dashboard h1{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: normal;
  }

  .dashboard .search-container {
    float: right;
    margin-top: -40px;
  }

  .dashboard input[type="text"] {
    padding: 6px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
  }

  .dashboard .search-container button {
    float: right;
    padding: 16px 10px;
    margin-top: 2px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .dashboard .search-container button:hover {
    background: #ccc;
  }

  .flex{
  display: flex;
  align-items: center;
  border-style: dashed;
  flex-wrap: wrap;
  }

  .flex-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .announcements{
    grid-area:an;
    border-style: solid;
    flex-direction: row;
    justify-content: space-between;
  }

  .announcements h5{
    color:#fe7f13;
  }

  .announcements p{
  }


  .announcements i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .announcements .right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .announcements .left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .announcements .arrows{
    flex-basis: 15%;
    padding-left: 50px;
    padding-top: 10px;
  }

  .tasks{
    grid-area: task;
  }

  .number-circle{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 4px;
  background: #ffffff;
  border: 2px solid #000000;
  color: #000000;
  text-align: center;
  font: 16px Arial, sans-serif;
  margin-right: 10px;
}


  #box{
    margin-left: auto;
    display: flex;
    align-items: center;
    border-style: solid;
  }


  .analytics{
    grid-area:analyt;
    border-style: solid;
  }

  #graph{
    height: 150px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #graph2{
    height: 200px;
    margin-bottom: 50px;
  }

  .recommendations{
    grid-area:rec;
    border-style: solid;
  }

  .recommendations img{
    padding-right: 30px;
    padding-left: 10px;
  }


  #type{
    font-size: 10px;
    margin-bottom: 50px;
    margin-right: 20px;
  }

  .recommendations .row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .contacts-customers {
    grid-area: con;
    border-style: solid;
  }


  .cards{
    justify-content: space-around;
  }


  .banner{
    background-color: #2498f4;
    margin-top: 10px;
    position: relative;
    height: 40px;
  }

  .banner img{
    padding: 200px;
  }

  .banner h5{
    text-align: center;
    padding-top: 5px;
  }

  .banner h6{
    text-align: center;
    margin-top: -20px;
  }

  .graph{
    margin-top: 20px;
  }

  .rectangle-contacts{
    height: 160px;
    width: 190px;
    border-style: solid;
    border-color: red;
    position: relative;
  }

  .rectangle-contacts:hover{
    color: gray;
  }

  .icon-man-green, .icon-man-orange{
    margin-left: 50px;
    margin-top: -40px;
    position: absolute;
  }

  .did-you-know{
    grid-area: did;
    border-style: solid;

  }

  .content{
    background-color: #2498f4;
    margin: 20px;
  }


  .ads{
    grid-area: ads;
    border-style: solid;
    background-color: #2498f4;
    justify-content: center;
  }

  .ads .rectangle1{
    height: 130px;
    width: 250px;
    margin: 10px;
    background-image: url("../images/ad1.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-color: #ffffff;
    position: relative;
  }


  .ads .rectangle1 h5{
    margin-left: 130px;
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
    font-size: 16px;
  }

  .ads .rectangle1 h6{
    margin-left: 130px;
    margin-top: -25px;
  }


  .rectangle2{
    background-color: #ffffff;
    position: relative;
    height: 130px;
    width: 250px;
  }

  .rectangle2 img{
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 220px;
    left: 5%;
  }

  .rectangle2 p{
    z-index: 55;
  }

  .ads .rectangle3{
    height: 130px;
    width: 250px;
    margin: 10px;
    background-image: url("../images/ad3.png"); height: 130px; width: 230px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ffffff;
    position: relative;
  }

  .ads .rectangle3 h5{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 14px;
  }

  .ads .rectangle3 h6{
    margin-top: -25px;
    margin-left: 10px;
    font-size: 14px;
  }


  .footer{
    grid-area: ft;
    background-color: #f8f8f8;
    box-shadow: 0px -5px 100px -10px;
    flex-direction: row;
    justify-content: space-between;
  }

  #ariel{

  }


  .images-navbar{
    text-align: center;
  }

  h2{
    color:#2498f4;
    margin: 0px;
  }

  h1{
    color:#ffffff;
    margin:0px;
  }

}



@media screen and (max-width:768px) {
  .site{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
    'hd'
    'nav'
    'dash'
    'an'
    'task'
    'analyt'
    'rec'
    'con'
    'did'
    'ads'
    'ft';
  }



}
