@supports (grid-area:auto) {

  .site {
    display: grid;
    grid-template-columns: 75px 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 75px;
    grid-template-rows: 50px 90px 70px 50px 300px 100px 150px 120px 150px 50px 100px 50px;
    grid-template-areas:
    'nav nav nav nav nav nav nav nav nav nav nav nav'
    'hd hd hd hd hd hd hd hd hd hd hd'
    'an an an'
    'tsk analyt analyt'
    'rec con-cus con-cus'
    'rec did did'
    'ads ads ads'
    'ft ft ft ft ft ft ft ft ft ft ft ft';
    font-family: "Proxima Nova";
  }

  .header{
    grid-column: 1/13;
    grid-row: 1/2;
    border-style: solid;
    background-color: #2191e9;
    justify-content: flex-start;
  }

  .header img{
    padding-right: 10px;
    padding-left: 20px;
  }

  .header p{
    color:#ffffff;
    font-weight: bold;
  }

  #social-stream{
  flex-basis:75%;
  }

  .navbar{
    grid-column: 1/13;
    grid-row: 2/3;
    border-style: solid;
    background-color: #124570;
    justify-content: center;
  }

  .dashboard{
    grid-column: 2/12;
    grid-row: 3/4;
    border-style: solid;
    background-color: #33cc66;
  }

  .dashboard h1{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: normal;
  }

  .dashboard .search-container {
    float: right;
    margin-top: -40px;
  }

  .dashboard input[type=text] {
    padding: 6px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
  }

  .dashboard .search-container button {
    float: right;
    padding: 16px 10px;
    margin-top: 2px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .dashboard .search-container button:hover {
    background: #ccc;
  }

  .flex{
  display: flex;
  align-items: center;
  border-style: dashed;
  }

  .flex-column{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .announcements{
    grid-column: 2/12;
    grid-row: 4/5;
    border-style: solid;
  }

  .announcements h5{
    color:#fe7f13;
    margin: 15px;
  }

  .announcements p{
    margin: 15px;
  }


  .announcements i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .announcements .right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .announcements .left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .announcements .arrows{
    flex-basis: 15%;
    padding-left: 50px;
    padding-top: 10px;
  }

  .tasks{
    grid-column: 2/5;
    grid-row: 5/6;
  }

  .number-circle{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 4px;
  background: #ffffff;
  border: 2px solid #000000;
  color: #000000;
  text-align: center;
  font: 16px Arial, sans-serif;
  margin-right: 10px;
}


  #box{
    margin-left: auto;
    display: flex;
    align-items: center;
    border-style: solid;
  }


  .analytics{
    grid-column: 5/12;
    grid-row: 5/7;
    border-style: solid;
  }

  #graph{
    height: 150px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #graph2{
    height: 200px;
    margin-bottom: 50px;
  }

  .recommendations{
    grid-column: 2/5;
    grid-row: 6/10;
    border-style: solid;
  }

  .recommendations img{
    padding-right: 30px;
    padding-left: 10px;
  }


  #type{
    font-size: 10px;
    margin-bottom: 50px;
    margin-right: 20px;
  }

  .recommendations .flex-container{
    display: flex;
    flex-direction: column;
  }

  .recommendations .row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .contacts-customers {
    grid-column:5/12;
    grid-row: 7/9;
    border-style: solid;
  }


  .cards{
    margin-left: 50px;
  }

  .rectangle-contacts{
    height: 175px;
    width: 150px;
    margin: 10px;
    background-color: #000000;
    margin-left: 50px;
  }


  .rectangle-customers{
    height: 175px;
    width: 150px;
    margin: 10px;
    background-color: #000000;
    margin-left: 50px;
  }

  .did-you-know{
    grid-column: 5/12;
    grid-row: 9/10;
    border-style: solid;
    background-color: #2498f4;
  }

  .did-you-know .flex-container{
    display: flex;
  }

  .ads{
    grid-column: 2/12;
    grid-row: 10/12;
    border-style: solid;
    background-color: #2498f4;
    margin-bottom: 20px;
  }

  .ads .rectangle1{
    height: 100px;
    width: 150px;
    margin: 10px;
    background-image: url("images/ad1.png");
    background-color: #ffffff;
  }

  .ads .rectangle2{
    height: 100px;
    width: 150px;
    margin: 10px;
    background-color: #ffffff;
  }

  .ads .rectangle3{
    height: 100px;
    width: 150px;
    margin: 10px;
    background-color: #ffffff;
  }

  .ads .flex-container{
    display: flex;
    justify-content: center;
  }

  .footer{
    grid-column: 1/13;
    grid-row: 12/12;
    background-color: #f8f8f8;
    box-shadow: 0px -5px 100px -10px;
  }

  .images-navbar{
    text-align: center;
  }

  h2{
    color:#2498f4;
    margin: 0px;
  }

  h1{
    color:#ffffff;
    margin:0px;
  }

}


@media screen and (max-width:768px) {


  .site{
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 70px 50px 150px 150px 150px 100px 100px 70px 100px 10px;
    grid-template-areas:
    'header'
    'navbar'
    'dashboard'
    'announcements'
    'tasks'
    'analytics'
    'recommendations'
    'contacts-customers'
    'did-you-know'
    'ads'
    'footer'
  }

  .header{
    grid-area: header;
  }

  .navbar{
    grid-area: navbar;
  }

  .dashboard{
    grid-area:dashboard;
  }

  .announcements{
    grid-area: announcements;
  }

  .tasks{
    grid-area:tasks;
  }

  .analytics{
    grid-area: analytics;
  }

  .recommendations{
    grid-area:recommendations;
  }

  .contacts-customers{
    grid-area:contacts-customers;
  }

  .did-you-know{
    grid-area: did-you-know;
  }

  .ads{
    grid-area: ads;
  }

  .footer{
    grid-area: footer;
  }

}
